html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

/* HEADER component */
.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    color: #F9FAF8;
    align-items: center;
    padding: 24px 240px;
    width: 100%;
}

.header_logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
}

ul {
    list-style: none;
    display: flex;
}

ul li a {
    color: #F9FAF8;
    text-decoration: none;
    margin-left: 18px;
}

.header_nav {
    display: flex;
    gap: 18px;
}

/* SECTION 1 */
.section-1 {
    background-color: #1F2937;
    display: flex;
    margin: 0;
    padding: 24px 240px;
    flex-direction: row;
}

.main-text-1 {
    flex-direction: column;
    width: 60%;
    padding-right: 48px;
}

.h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding-bottom: 12px;
}

.subtext-1 {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 12px;
}

button {
    background-color: #3882F6;
    padding: 12px 24px;
    border: none;
    border-radius: 18px;
    font-size: 16px;
    color: #E5E7EB;
    font-weight: bold;
    margin-top: 12px;
}

.img-1 {
    width: auto;
    height: auto;
}

/* SECTION 2 */
.section-2 {
    display: flex;
    background-color: #F9FAF8;
    justify-content: space-evenly;
    align-items: center;
    padding: 48px;
    flex-direction: column;
}

.h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 12px;
}

.container-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    padding: 24px 240px;
}

.infogroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.subtext-2 {
    color: #1F2937;
    text-align: center;
}

/* SECTION 3 */
.section-3 {
    background-color: #E5E7EB;
    padding: 24px 240px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 96px;
    justify-content: center;
}

.author {
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    text-align: right;
    padding: 10px 10px 0 0;
}